useDynLib(ShrinkCovMat)
importFrom(Rcpp, evalCpp)
importFrom("stats", "cov", "var")
S3method(print,shrinkcovmathat)
export(shrinkcovmat.equal)
export(shrinkcovmat.identity)
export(shrinkcovmat.unequal)
export(targetselection)
